[*.cs]

# Unity-specific diagnostics
dotnet_diagnostic.UNT0001.severity = warning
dotnet_diagnostic.UNT0008.severity = warning
dotnet_diagnostic.UNT0019.severity = warning
dotnet_diagnostic.UNT0026.severity = warning

# Temporarily disabled StyleCop rules that would cause a lot of noise to correct
dotnet_diagnostic.SA1101.severity = silent # Prefix local calls with this

dotnet_diagnostic.SA1402.severity = silent # File may only contain a single type

dotnet_diagnostic.SA1600.severity = silent # Elements should be documented
dotnet_diagnostic.SA1602.severity = silent # Enumeration items should be documented
dotnet_diagnostic.SA1649.severity = silent # File name should match first type name.

dotnet_diagnostic.SA1611.severity = silent # The documentation for <something> is missing
dotnet_diagnostic.CS1591.severity = silent # Missing XML comment for publicly visible type or member

# Diagnostics that would cause breaking changes if fixed
dotnet_diagnostic.SA1300.severity = silent # Element should begin with an uppercase letter
dotnet_diagnostic.SA1307.severity = silent # Field should begin with upper-case letter
dotnet_diagnostic.SA1309.severity = silent # Field should not begin with an underscore
dotnet_diagnostic.SA1401.severity = silent # Field should be private
